[Unit]
Description=run offlineimap.service every 15m
Requires=offlineimap.service

[Timer]
Unit=offlineimap.service
OnActiveSec=15m
AccuracySec=1s

[Install]
WantedBy=default.target