# file: transmission_remote.desktop

[Desktop Entry]

Type=Application
Name=transmission_remote
Comment=Send a bit torrent link to transmission-daemon
#Icon= path: /$XDG_DATA_DIRS/icons or /usr/share/pixmaps/electron.png
Exec=/home/dandy/bin/transmission_remote %u
Terminal= false
MimeType=application/x-bittorrent;x-scheme-handler/magnet
# Categories=Education;Languages;Java