# file: transmission_remote.desktop

[Desktop Entry]

Type=Application
Name=transmission_remote
Comment=Opens a bittorrent link
#Icon= path: /$XDG_DATA_DIRS/icons or /usr/share/pixmaps/electron.png
Exec=$HOME/bin/transmission_remote %u
Terminal= false
MimeType=application/x-bittorrent;x-scheme-handler/magnet
# Categories=Education;Languages;Java